/*
 * General
 */
* {
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
}
.back-link{
  color: #333;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid;
}

/*
 * Header
 */
.header-container {
  width: 300px;
  margin: auto;
  text-align: center;
}

/*
 * Cards
 */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 2px;
}
.card {
  width: 23.5%;
  height: 77px;
  background-color: #6ad2ff;
  margin: 2px;
  padding: 0;
  list-style-type: none;
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  /*TODO: revisit how to make the number go to center, when adding img/symbol*/
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
 * Responsive
 */
 @media screen and (min-width: 565px) {
   body {
     padding: 20px;
   }

   .card-container {
     max-width: 600px;
     height: 50%;
   }

   .card {
     width: 24.2%;
     height:150px;
   }
 }
 @media screen and (min-width: 330px) and (max-width: 565px) {
   body {
     padding: 20px;
   }

   .card {
     width: 23.5%;
     height: 95px;
 }
