/*
 * General
 */
* {
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
}
.back-link{
  color: #333;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid;
}

/*
 * Header
 */
.header-container {
  width: 700px;
  margin: auto;
  text-align: center;
}

/*
 * Cards
 */
.card-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 2px;
}
.card {
  width: 24.3%;
  max-width: 150px;
  height: 150px;
  background-color: #6ad2ff;
  margin: 2px;
  padding: 0;
  list-style-type: none;
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  /*TODO: revisit how to make the number go to center, when adding img/symbol*/
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
