/*
 * General
 */
* {
  box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px;
  font-family: 'Nunito', sans-serif;
}

.back-link{
  color: #333;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid;
}

.hide{
  display: none;
}

/*
 * Header
 */
.header-container {
  width: 300px;
  margin: auto;
  text-align: center;
}

/*
 * Game controls
 */
 .game-controls{
    display: flex;
    flex-wrap: no-wrap;
 }

 .btn-restart{
  padding: 8px 16px;
  border-radius: 4px;
 }

/*
 * Cards
 */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  background-color: #fff;
  padding: 2px;
}
.card-pos {
  width: 23.5%;
  height: 77px;
  margin: 2px;
  padding: 0;
  list-style-type: none;
  /*TODO: revisit how to make the number go to center, when adding img/symbol*
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;*/
  perspective: 1000px;
  background-color: transparent;
}

.card {
    order: 1000;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /*to make the cards flip correctly in safari*/
  border: 1px solid #d7d7d7;
}

.card-back {
  background-color: #6ad2ff;
}

.card-front {
  background-color: yellow;
  transform: rotateY(180deg);
}

/*
 * Responsive
 */
 @media screen and (min-width: 565px) {
   body {
     padding: 20px;
   }

   .card-container {
     max-width: 600px;
     height: 50%;
   }

   .card-pos {
     width: 24.2%;
     height:150px;
   }
 }
 @media screen and (min-width: 330px) and (max-width: 565px) {
   body {
     padding: 20px;
   }

   .card-pos {
     width: 23.5%;
     height: 95px;
 }

 /* Reference: Making a 2-sided card flip. https://www.w3schools.com/howto/howto_css_flip_card.asp */
